
@import "scss/foundation";
@import "header";
@import "footer";

 @font-face {
    font-family: 'Museo Sans'; 
    src: url('/fonts/Museo Sans/MuseoSans-300.otf'); 
    font-weight: normal;
    font-style: normal;
  } 
   @font-face {
    font-family: 'Museo'; 
    src: url('/fonts/Museo/Museo100-Regular.otf'); 
    font-weight: normal;
    font-style: normal;
  } 
   @font-face {
    font-family: 'Opensans'; 
    src: url('/webable fonts/Open Sans/OpenSans-Regular.ttf'); 
    font-weight: normal;
    font-style: normal;
  } 


$namespace: true;

@mixin padding-top-bottom($number,$page-height) {
    padding-top: $number / $page-height + 3.5em;
    padding-bottom: $number / $page-height + 2em;
}

html {
  overflow-y: scroll;
}
body {
  background: #f7f7f7;
  color: #333332;
}
h1{
    font-family: 'Museo Sans';
    text-transform: uppercase;
}
h2{
    font-family: 'Museo Sans';
    font-size: 16px;
}
p{
    font-family: 'Museo Sans';
    font-size: 17px;
    font-weight: normal;
    line-height: 26px;
    color: #322f31;
}
.well {
  box-shadow: none;
}
.wrapper {
  max-width: 94%;
  margin: 0 auto;
}
.wrapper {
    .capabilities {
        @include padding-top-bottom(59,2850);
    }
    .client-logos {
        background: url(images/Layer-17.png);
        height: 730px;
        margin: 43/2850 + 1em 3em;
    }
    .clientele {
        @include padding-top-bottom(47,2850);
    }
    .strategy {
        @include padding-top-bottom(99,6102);
    }
    .principles {
        @include padding-top-bottom(99,2158);
    }
    .meet-the-team {
        @include padding-top-bottom(99,2158);
    }
}
/*header.wrapper {
@extend .wrapper;
z-index: 50;
margin: 0 3%;
position: absolute;
top: 0px;
padding-top: 2%;
}*/
.process-text.wrapper {
    margin: 2% auto;
}
.main {
  padding: 20px 0;
}
h1 {
  font-size: 65px;
  font-weight: 300;
  text-align: center;
  line-height: 1.1em;
  margin-bottom: 20px;
}
.hero-image {
    background: url('http://placehold.it/1280x650');
    width: 1280px/1280px * 100%;
    height: 95%;
    position: relative;
    top: 0px;
}
.hero-image .hero-text {
    position: relative;
    top: 50%;
    transform: translateY(50%)
}
.process-text {
    position: inherit;
    padding-top: 0px;
    magrin-top: 37/3938 * 100%;
}
.team-at-work {
    background-color: #ff00ea;
    @extend .full-width
}
.team-at-work {
    li {
        list-style: none;
    }
    right {
        width: 854/1280 * 100%;
    }
    left: {
        width: 854/(2*1280) * 100%;
    }
    img {
        width: 100%;
        height: auto;
    }

}
.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.team-pics {
    .columns img {
        width: 100%;
        height: auto;
    }
    .columns {
        position: relative;
    }
}
.client {
    background-color: #6f316a;
    height: 320px;
}
.grey {
    background-color: lightgrey;
    padding-top: 24/2850 * 100%;
    padding-bottom: 20/2850 * 100%;
    color: #9d9daa;
}
.grey h4 {
    color: #9d9daa;
}
.six-capabilities {
    .capability-boxes {
        border: 5px #67686a;
        height: auto;
               
    }
    .capabilities-text {
        padding: 138/320 * 100% / 2 + 2% 122/426 * 100% / 2 + 2%;
        margin-bottom: 11 / 2850 * 100%;
    }
    .capabilities-text p {
        margin-bottom: 0 !important;
    }
}
.strategy-grid {
    .columns img {
    width: 100%;
    }
    .columns.large-8 img {
        height: 100%;
    }
}
.wrapper.capability-details .strategy h2 {
    padding-bottom: 0.8em;
}


.culture{
    padding-left:4.9%;
    h2{
        text-transform: uppercase;
        font: 19px / 30px MuseoSans;
    }
    p{
        font:17px / 26px MuseoSans;
        
    }
}
.culpic{
    .columns img{
        width:100%;
        height: auto;
    }
    margin-bottom: 3.9%;
}
.culture-code{
    
    .row{
     max-width:100%;
     padding-left: 4.9%;
    
    }
    h2{
        text-transform: uppercase;
        padding-bottom: 2.1%;
    }
    .coloumns{
        padding-top: 1.6%;
        padding-bottom: 1.9%;
    }
}

hr{
    width: 3.9%;
    margin-left: 4.9%;
   
}

.ins .row h2{
  margin-top: 1.5%;
}
.instagram {
    margin-top: 1.1%;
    .columns img {
        width: 100%;
        height: auto;
    }
    .columns {
        position: relative;
    }
    
}

.show_more{ 
    width: 100%;
    height: 3.750em;
    h3: {
       text-align: center;
       text-transform: uppercase;
    }
}
.work_pic {
    top: 30px;
    margin-top: 3%!important;
    @extend .team-pics;
}
/**************Capabilities************/

/************************SVG************************/



.tech {
  fill: transparent;
  stroke: #007BE1;
}

@-webkit-keyframes tech {
  0% {
    stroke-dasharray:0 790;
  }
  100% {
    stroke-dasharray:790 0;
  }

}
@-moz-keyframes tech {
  0% {
    stroke-dasharray:0 790;
  }
  100% {
    stroke-dasharray:790 0;
  }
  
}


.tech {
  -webkit-animation: tech  7s;
  animation: tech 7s ;
   -moz-animation: tech  7s;
}


@-webkit-keyframes reset {
  0%{ stroke-dasharray:0 790;}
  100%{stroke-dasharray:790 0;}
}


.capabilities li:hover{
  opacity: .88;
  background-color: #00003b;
  animation: reset 7s .1;
  -webkit-animation: reset 7s .1 ;

}

.social {
  fill: transparent;
  stroke: #007BE1;
}

@-webkit-keyframes social {
  0% {
    stroke-dasharray:0 790;
  }
  100% {
    stroke-dasharray:790 0;
  }
}


.social {
  -webkit-animation: social  7s;
  animation: social 7s ;
}

.strat {
  fill: transparent;
  stroke: #007BE1;
}

@-webkit-keyframes strat {
  0% {
    stroke-dasharray:0 790;
  }
  100% {
    stroke-dasharray:790 0;
  }
}


.strat {
  -webkit-animation: strat  7s;
  animation: strat 7s ;
}


.spiral {
  fill: transparent;
  stroke: #007BE1;
}

@-webkit-keyframes spiral {
  0% {
    stroke-dasharray:0 502.45;
  }
  100% {
    stroke-dasharray:502.45 0;
  }
}


.spiral {
  -webkit-animation: spiral  2s;
  animation: spiral 2s ;
}


.design {
  fill: transparent;
  stroke: #007BE1;
}

@-webkit-keyframes design {
  0% {
    stroke-dasharray:0 790;
  }
  100% {
    stroke-dasharray:709 0;
  }
}


.design {
  -webkit-animation: design  7s;
  animation: design 7s ;
}




.media {
  fill: transparent;
  stroke: #007BE1;
}

@-webkit-keyframes media {
  0% {
    stroke-dasharray:0 790;
  }
  100% {
    stroke-dasharray:709 0;
  }
}


.media {
  -webkit-animation: media  7s;
  animation: media 7s ;
}

/*****************************End of SVG**************************/