
div.footer
  div.center-div
    img(src='/images/Logo top left.png')
    .text.row We Keep it Simple
    .row.line 
       hr
    .list
        ul.text-align  
                li
                     a(href="#") BRAND GUIDELINE |
                li
                     a(href="#") THE BABLE BLOG  |
                li 
                     a(href="#") OUR WORK |    
                li
                     a(href="#") OUR SERVICES |
                li 
                     a(href="#") JOIN THE TEAM 
                      
    .social-icons
        ul.text-align
            li
                a(href='#')
                i.fa.fa-twitter
            li
                a(href='#')
                i.fa.fa-linkedin
            li
                a(href='#')  
                i.fa.fa-facebook
            li
                a(href='#')
                i.fa.fa-instagram
            li
                a(href='#')
                i.fa.fa-pinterest
            li
                a(href='#')
                i.fa.fa-google-plus

    .text-f 2015 WEBABLE ALL RIGHTS RESERVED