doctype html
html(lang="en")
 head
  title = Webable website

.hero-image.text-center
    .hero-text 
        h1 Experience The WebAbulous
.clear
.row.wrapper.collapse.process-text
    .small-12.medium-6.large-6.columns
        h2 WEBABLE WHO
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .small-12.medium-6.large-6.columns
        h2 THE WEBABULOUS PROCESS
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
.row.collapse.team-at-work
    ul.small-block-grid-1.large-block-grid-3
        .row.collapse
          .large-9.columns.right
            li
              img(src='http://placehold.it/854x520')
          .large-3.coloums.left
            li
              img(src='http://placehold.it/350x320')
            li
              img(src='http://placehold.it/350x320')
.row.wrapper.collapse
    .small-12.large-8.columns
        h4 OUR PRINCIPLES
        .row.collapse
            .small-12.large-6.columns
                h5 We Keep It Simple
                p Here is some more text.
                h5 We Keep It Simple
                p Here is some more text.
            .small-12.large-6.columns
                h5 We Keep It Simple
                p Here is some more text.
                h5 We Keep It Simple
                p Here is some more text.
    .small-12.large-4.columns
        h4 OUR CAPABILITIES
        p Here is some text
hr.row
.row.wrapper.meet-the-team
    h5 INSIDE THE HIVE - MEET THE WEBABLERS
    br
    p Lorem Ipsum and some more text and I can think of in the spur of the moment
.team-pics
    .row.full-width.collapse
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/426x426')
    .row.full-width.collapse
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/426x426')


    
        
       
  